<div id="modal">
    <div class="container" id="modal_body">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Registrar persona</h3>
            <form (ngSubmit)="oSend()" #personaForm="ngForm">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" class="form-control" minlength="4" maxlength="100" id="nombre" [(ngModel)]="persona.nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="">Primer apellido:</label>
                    <input type="text" class="form-control" minlength="4" maxlength="100" id="primer_apellido" [(ngModel)]="persona.primer_apellido" name="primer_apellido">
                </div>
                <div class="form-group">
                    <label for="">Segundo apellido:</label>
                    <input type="text" class="form-control" minlength="4" maxlength="100" id="segundo_apellido" [(ngModel)]="persona.segundo_apellido" name="segundo_apellido">
                </div>
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" class="form-control" minlength="10" maxlength="10" id="telefono" [(ngModel)]="persona.telefono" name="telefono">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="estatus" [(ngModel)]="persona.estatus" name="estatus" value=true>
                    <label class="form-check-label" for="estatus">Activo</label>
                </div>                  
                <br>

                <a href="/personas" class="btn btn-outline-danger" style="margin-right: 70px;">Cancelar</a>
                <button class="btn btn-success" [disabled]= "!personaForm.form.valid">Registrar</button>
            </form>
        </div>
    </div>
</div>