<button class="btn btn-primary" (click)="openModal()">Registrar persona</button>
<br>

<div *ngIf="modalSwitch==true">
    <app-modal-registro></app-modal-registro>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let persona of personas">
            <th>{{persona.nombre}}</th>
            <th>{{persona.primer_apellido}}</th>
            <th>{{persona.segundo_apellido}}</th>
            <th>{{persona.telefono}}</th>
            <th>Poner acciones aqui</th>
        </tr>
    </tbody>
</table>
